.menu-item{
  display:inline-flex;
  min-width: 25%;
  height: 100%;
  padding-top: 1rem;
  text-align: center;
  @media (max-width:480px) {
    display: none;
  }
}

.menu-item a {
  display: inline-grid;
  align-items: center;
  width: 100%;

  border-bottom: 3px rgba(255, 255, 255, 0.8) solid;
  border-radius: 2px;
  margin: 0 1% 5% 5%;
  &:hover{
    color: #ff982d;
    border-color: #ff982d;
  }
  &.active{
    color: #ff982d;
    border-color: #ff982d;
  }
}



.menu-list{
  margin-top: 5%;
  @media (min-width:481px){
    display:none;
  }
  .material-symbols-outlined{
    font-size: 3.5em;
    float:right;
  }
}
